* {
    font-family: "Lato", sans-serif;
}
body {
    background-color: lightgray;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.first-row {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    gap: 10px;
}

.second-row {
    border-bottom: 1px solid black;
}

.first-tab {
    padding-right: 5px;
    border-right: 1px solid black;
}

.end-tab {
    padding-left: 5px;
    border-left: 1px solid black; 
}

.todo-list {
    width: 100%;
    padding: 0;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid darkgray;
}

button {
    background-color: cornflowerblue;
    border: 0;
    border-radius: 4%;
    color: aliceblue;
    padding: 5px;
}